

p {
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: lighter;
    font-style: italic;
    
}


html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
    font-style: italic;
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(255, 255, 255);
      position: fixed; 
      width: 100%; 
      top: 0; 
      z-index: 1000; 
  }
  
  li {
      float: left;
  }
  
  li a {
      display: block;
      color: rgb(50, 50, 50);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  li a:hover:not(.active) {
      background-color: rgb(181, 168, 153);
  }
  
  .active {
      background-color: rgb(181, 168, 153);
  }
  
 
  .content {
      margin-top: 40px; 
  }
}
header {
    background-image: url("j-lee-OhWlmCiPhP4-unsplash.jpg");
    background-position: center;
    background-size: cover;

}

.CV {
    background-image: url(Cv1.jpg);
    background-position: center;
    background-size: cover;
}
.Tietoa {
    background-image: url(vihrea.jpg.jpg);
    background-position: center;
    background-size: cover;
}

.Yhteys {
    background-image: url(Yhteys5.jpg);
    background-position: center;
    background-size: cover;
}

header h1 {
    font-size: 35px;
    text-align: center;
    color: rgb(77, 71, 71);
    padding: 50px;
    margin: 0px;
    font-family: sans-serif;
    font-weight: lighter;
    font-style: italic;
    

}

em {

    font-style: italic;
    color:rgb(109, 105, 105) ;

}

section {
    width: 90%;
    margin: auto;
    font: 25px;
    font-family: sans-serif;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 20px;
    padding: 30px;
}

.keskitetty {
    text-align: center; 
    margin: 0 auto; 
    width: 50%; 
  }

section img {
    width: 40%;
    padding: 20px 20px 20px 20px;
   display: block;
   position: relative;
   left: 30%;
   margin-bottom: 50px;

}


.kokolomake {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .kellu {
    margin-bottom: 15px;
  }
  

  .flomake {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
  }
  
  .viestikentta {
    height: 100px;
  }
  
  input[type="submit"] {
    background-color: #2e302e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: rgb(90, 90, 84);
  }
  
  label {
    display: none; 
  }
  
  footer {
    background-color:  rgb(181, 168, 153);
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: lighter;
    font-style: italic;
    background-position: unset;
   padding: 5px;
}

footer {
    background-color:rgb(191, 182, 171);
    margin-top: 40px;
    font-family: sans-serif;
    font-weight: lighter;
    font-style: italic;
    background-position: unset;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-top: 20px;
}

footer p {
    text-align: center;
    color: rgb(8, 8, 8);
    padding: 10px;
    margin: 0px;
    line-height: 2px;
    font-family: sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 15px;
}



@media screen and (min-width: 650px) {
    section {
        width: 75%;
        li {
            float: center;
             }
             
    }
    header h1 {
       padding: 200px 10px 200px 10px;
    }
@media screen and (min-width: 1025px) {
    section {
        width: 55%;
    }
    header h1 {
        font-size: 60px;
    }

    